
<br />
<div class="card">
    <div class="display-4 text-center card-header">@ViewBag.title</div>
    <div class="card-body">View Jobs By Category</div>
</div>
<br />
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            @foreach (var column in ViewBag.columns)
            {
                @if (column.Key != "all")
                {
                    <th>@column.Value</th>
                }
            }
        </tr>
    </thead>
    <tr>
        @foreach (var category in ViewBag.tableChoices)
        {
            <td>
                @if (category == "employer")
                {
                    @foreach (var item in ViewBag.employers)
                    {
                        <a asp-controller="List" asp-action="Jobs" asp-route-column="@category" asp-route-value="@item.Name">@item.Name</a>
                    }
                }
                else
                {
                    @foreach (var item in ViewBag.skills)
                    {
                        <a asp-controller="List" asp-action="Jobs" asp-route-column="@category" asp-route-value="@item.Name">@item.Name</a>
                    }
                }
            </td>
        }
    </tr>
</table>
