
<br />
<div class="card">
    <div class="display-4 text-center card-header">@ViewBag.title</div>
</div>
<br />

<div class="container">
    <div class="row">
        @foreach (var job in ViewBag.jobs)
        {

            <div class="col-md-4 ">
                <div class="card border border-warning m-2">
                    <div class="card-header bg-secondary text-light">ID: @job.JobId</div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><span class="text-info">Name:</span> @job.Name</li>
                        <li class="list-group-item bg-light"><span class="text-info">Employer:</span> @job.EmployerName</li>
                        <li class="list-group-item"><span class="text-info">Skill:</span> @job.SkillText</li>
                    </ul>
                </div>
            </div>
        }
    </div>
</div>
